<h1>NASDAQ - MEAN App</h1>
<div class = "container">
  
    <div class = "col col-sm-5">
      <div class = "row">
        <form name="search" ng-submit = "vm.search()">
          <input name="symbol" type="text" id="symbol" placeholder="search by stock symbol" ng-model="vm.symbol" ng-minlength="2" required> 
          <button type = "submit" class="btn btn-success myBtn">Search</button>
        </form>
  
        <div ng-hide="vm.isSubmitted" ng-if="vm.error" class="alert alert-danger" role="alert">
          {{ vm.error }}
        </div>
    
        <div ng-if="vm.isSubmitted">
    
          <h3>Information on {{ vm.stock.Name }}</h3>
    
          <p><small>{{ vm.stock.Symbol }}</small> </p>
        
          <p>Current Price: {{ vm.stock.LastSale | currency}}</p>
          <p>Market Cap: {{ vm.stock.MarketCap | number: fractionSize }}</p>
          <p ng-hide = "!vm.stock.IPOyear">IPO Year: {{ vm.stock.IPOyear }}</p>
          <p ng-hide = "!vm.stock.Industry">Industry: {{ vm.stock.Industry }}</p>
          <p><a href = "#!/stocks/{{ vm.stock.Symbol }}">More Information</a></p>
        
        </div>
      </div>

    <div class = "row">
      <button type = "submit" class = "btn btn-success myBtn" ng-click = "vm.showQueries()">Show Recent Searches</button>
   
      <div ng-if = "vm.showQueriesSubmitted">
        <h3>Recent Searches:</h3>   
        <li ng-repeat = "stock in vm.stocks | orderBy: '-Queries[Queries.length - 1].createdOn'"><a ng-href="#!/stocks/{{ stock.Symbol }}">{{stock.Symbol}} | Search Date: {{stock.Queries[stock.Queries.length -1].createdOn | date}}</a></li>
      </div>
    </div>
  </div>
  <div class = "col col-sm-7">
    <h3>Top Headlines: </h3>
    <div ng-if = "vm.foundArticles" ng-repeat="article in vm.articles" class = "articleDiv">
      <a ng-href="{{ article.url }}">{{ article.title }}</a>
      <p> {{article.source.name}}</p>
      <p> {{article.description}}</p>
      <img ng-src="{{article.urlToImage}}" height="100%" width = "100%">
     <button ng-if = "vm.isLoggedIn()" class= "btn btn-primary twitterbtn" ng-click="vm.tweetIt(article.description, article.url)">Tweet it</button>
     <button ng-if = "vm.isLoggedIn()" class = "btn btn-primary saveArtBtn" ng-click = "vm.saveArticle(article.title, article.url, article.source.name)">Save Article</button>
    </div>    
  </div>
</div>